.sr-only {
				clip: rect(1px, 1px, 1px, 1px);
				position: absolute;
				height: 1px;
				width: 1px;
				overflow: hidden;
			}
			.main-header {
				background: #FFF;
				box-shadow: 0 1px 6px rgba(0,0,0,.1);
			}
			.mh-logo {
				margin: 0 0 -10px;
			}
			.main-nav a {
				font-size: 0.75em;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #343534;
				text-decoration: none;
			}
			.main-nav ul {
				margin: 0;
				padding: 0;
			}

/**
 * Images a now responsive
 */
img {
	max-width: 100%;
	height: auto;
}

/**
 * Limit the container in
 * width for big screens
 */
.container {
	width: 1140px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

@media (min-width:1140px) {
				.main-header .container {
					justify-content: space-between;
				}
			}
